.waybill-detail-page {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #f7f8fa;
  // padding-bottom: 180px;

  .info-box {
    margin-bottom: 50px;
    & > view {
      margin-bottom: 30px;
    }

    .table-content {
      background-color: #fff;
    }
  }
  .timeline {
    .timeline-time {

      text-align: end;
    }
  }
}
